{% extends 'base.html' %}


{% block content %}
{% if user.is_authenticated %}

<h1>Lista de usuárias <a href="{% url 'newuser' %}" class="btn btn-outline-danger btn-sm" > + Adicionar usuario</a> </h1>

<table class="table table-striped table-hover table-bordered">
  {%for user in userlist %}
  <tr>
    <td align="left">
      <a href="{% url 'users' user.id %}">{{ user.nome }}</a>
    </td>
    <td align="right">
      <a href="{% url 'antropometria' user.id %}" class="btn btn-outline-warning btn-sm"> Antropometria </a>
    </td>
    <td align="right">
      <a href="{% url 'testes' user.id %}" class="btn btn-outline-info btn-sm"> Testes </a>
    </td>
    <td align="right">
      <a href="{% url 'dexa' user.id %}" class="btn btn-outline-dark btn-sm"> DEXA </a>
    </td>

  </tr>
  {% endfor %}
</table>


{% endif %}
{% endblock %}